body {
	display: flex;
	flex-direction: column;
	font-family: Roboto, sans-serif;
	margin: 0;
}

ul {
	display: flex;
	padding: 0;
	margin: 0;
	gap: 16px;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: white;
}

.header {
	display: flex;
	flex-direction: column;
	padding: 20px 200px 100px 200px;
    justify-content: space-between;
    gap: 70px;
}

.header-up {
	display: flex;
	justify-content: space-between;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.link-header, 
.text-maly {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 100;
}
.header-down {
	display: flex;
	justify-content: space-between;
    gap: 60px;
}

.thorr {
    display: flex;
    flex: 1;
max-width: 500px;
}

.text {
    flex: 1;
	display: flex;
	flex-direction: column;
    justify-content: space-between;
}

.text-duzy {
	font-size: 48px;
	font-weight: 800;
    color: #F9FAF8;
}


.info {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 500px;
	padding: 20px 80px;
}

.info-up {
	padding: 20px;
}

.info-ul {
	display: flex;
	gap: 30px;
	padding: 20px;
}

.card {
	display: flex;
	flex-direction: column;
	width: 200px;
	height: auto;
	gap: 10px;
	text-align: center;
}
.cytat {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #e5e7eb;
	justify-content: center;
	padding: 200px 250px;
}

.podpis {
	display: flex;
	align-self: flex-end;
}

.signup {
	display: flex;
	justify-content: space-between;
	padding: 60px 100px;
	margin: 100px 250px;
	background-color: #3882f6;
	color: white;
}

.sg-left {
	display: flex;
	flex-direction: column;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.header,
.footer {
	background-color: #1f2937;
	color: white;
}
